* {
  margin: 0;
  padding: 0;
  /* border: 2px solid red; */
}

:root {
  --primary: #20b2aa;
  --gray: gray;
}

.blue-button {
  padding: 5px 10px;
  background-color: var(--primary);
  color: white;
  border-radius: 20px;
}
li {
  position: relative;
}
li::after {
  content: " ";
  position: absolute;
  height: 3px;
  width: 0%;
  background-color: var(--primary);
  bottom: 0px;
  left: 0;
  transition: all 0.5s ease;
}
li:hover::after {
  width: 100%;
}
header {
  width: 100%;
  height: 80vh;
  justify-items: center;
}
.hero-img {
  height: 70vh;
  width: 75%;
}
.hero-img img {
  border-radius: 15px;
  height: 100%;
  width: 100%;
}
.rating{
    background-color: rgb(248, 204, 165);
    color: rgb(227, 110, 7);
    display: inline;
}
.img-detail {
  width: 60%;
  height: 80px;
  top: 75%;
  box-shadow: 1px 5px 50px rgba(85, 85, 85, 0.324);
}
.img-detail div {
  border-right: 2px solid var(--gray);
}
.img-detail p {
  color: var(--gray);
  font-size: 13px;
}
.card{
    flex: 0 0 20em;
    width: 300px;
    padding: 20px;
    border: 1px solid var(--gray);
    border-radius: 5%;
    /* background-color: #20b2aa; */
    height: 12em;
    box-shadow: 0px 0.5px 10px gray;
    
}
.cards::-webkit-scrollbar{
    display: none;
}
.cards{
    bottom: 20px;
    display: flex;
    gap: 20px;
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.category{
    width: 75%;
    justify-self: center;
}
.top-destinations{
    width: 75%;
    justify-self: center;
}
.top-destination{
    display: grid;
    gap: 15px;
    grid-template-columns: 280px 380px 380px;
    grid-template-rows: 200px 200px;
    grid-template-areas: "box1 box2 box5 "
                          "box3 box2 box5";
}
.box img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.box5{
    display: grid;
    gap: 15px;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    grid-template-areas: "box4 box4 "
                          "box6 box7";
}